@tailwind base;
@tailwind components;
@tailwind utilities;


/* Loader Styles */
.loading svg {
    width: 128px; /* Increased loader size */
    height: 96px;
    filter: drop-shadow(0px 0px 8px rgba(255, 77, 79, 0.8)); /* Added shadow effect */
  }
  
  .loading svg polyline {
    fill: none;
    stroke-width: 4; /* Slightly thicker stroke */
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  
  .loading svg polyline#back {
    fill: none;
    stroke: #ff4d5033;
  }
  
  .loading svg polyline#front {
    fill: none;
    stroke: #ff4d4f;
    stroke-dasharray: 48, 144;
    stroke-dashoffset: 192;
    animation: dash_682 1.4s linear infinite;
  }
  
  @keyframes dash_682 {
    72.5% {
      opacity: 0;
    }
  
    to {
      stroke-dashoffset: 0;
    }
  }






  
  
  